@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.customer{
    background-color: #2B2F41;
    color: white;
}
.card{
    background-color: #313547;
    margin-bottom: 24px;
    border-radius: 8px;
}
.title-page{
    margin-bottom: 24px;
    margin-top: 24px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
}
.col-sm-2{
    padding: 0;
}
.col-sm-4{
    padding: 0;
}
.col-sm-4 .btn-edit{
    width: auto;
    background-color: #516BEB;
    color: white;
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-right: 8px;
}
.col-sm-4 .btn-edit:hover{
    width: auto;
    background-color: #313547;
    color: #516BEB;
    border: 1px solid #516BEB;
    border-radius: 32px;
    margin-right: 8px;
}
.col-sm-4 .btn-delete{
    width: auto;
    background-color: #BE5257;
    color: white;
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.col-sm-4 .btn-delete:hover{
    width: auto;
    background-color: #313547;
    color: #BE5257;
    border: 1px solid #BE5257;
    border-radius: 32px;
}
.modal{
    color: white;
}
.modal-header{
    background-color: #242837;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    border: 0;
}
.modal-body{
    background-color: #313547;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    border: 0;
}
.modal-footer{
    background-color: #313547;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;   
    border: 0;
}
.modal-footer .btn-closes{
    background-color: #A7AFD7;
    color: white;
}
.modal-footer .btn-submit{
    background-color: #516BEB;
    color: white;
}
.btn-add{
    width: auto;
    height: 48px;
    color: white;
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    background-color: #0EC09B;
}
.btn-add:hover{
    color: #0EC09B;
    border: 1px solid #0EC09B;
    border-radius: 32px;
    background-color: #2B2F41; 
}